<body class="nav-md">

  <script>
  if (jQuery("body").width() < 760) {
    $('body').addClass('nav-sm');
    $('body').removeClass('nav-md')
  }
  </script>

  <!-- Container -->
  <div class="container body">
    <!-- Main Container -->
    <div class="main_container_db">

      <!-- Sidebar -->
      {{> sidebar }}
      <!-- /Sidebar -->

      <!-- page content -->
      <div class="right_col_db page_content" role="main">

       <!-- top navigation ! -->
       {{> topbar }}
       <!-- /top navigation -->

       <!-- top tiles -->
       <div class="row tile_count" >

        {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
         {{!-- <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
           <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
           <div class="count">2500</div>
           <span class="count_bottom"><i class="green">4% </i> From last Week</span>
         </div>
         <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
           <span class="count_top"><i class="fa fa-clock-o"></i> Average Time</span>
           <div class="count">123.50</div>
           <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
         </div>
         <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
           <span class="count_top"><i class="fa fa-user"></i> Total Males</span>
           <div class="count green">2,500</div>
           <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
         </div>
         <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
           <span class="count_top"><i class="fa fa-user"></i> Total Females</span>
           <div class="count">4,567</div>
           <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
         </div>
         <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
           <span class="count_top"><i class="fa fa-user"></i> Total Collections</span>
           <div class="count">2,315</div>
           <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
         </div>
         <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
           <span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
           <div class="count">7,325</div>
           <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
         </div> --}}
       </div>
       <!-- /top tiles -->

       <!-- main cont -->
       <div class="main_cont">
        {{!-- <div class="page-title">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <h3>11/1 Updates: 75 Rock and 14 Floor CityView Critical Path Created</h3>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div> --}}

        <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                </ol>
            </nav>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">
              <div class="x_content">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h3>Weekly Critical Path Dashboard</h3>
                  </div>

                  <div class="clearfix"></div>

                  <div class="row">
                    <div class="col-md-12 col-xs-12  widget_tally_box col-lg-12">
                      <div class="col-md-12 col-xs-12  widget_tally_box col-lg-2">
                        <div class="row  " id="tasks-left-panel">
                          {{{folderDashboardData.folderDashboardleftMenuHTML}}}
                          <!--Left Panel tasks Info-->
                        </div>
                      </div>

                      <!--center col-->
                      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-8">
                        <!--Weekly Critical Path-->

                        {{#if folderDashboardData.foldersweeklyCriticalDatesHTML.hastasks}}
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Weekly Critical Path <small>Dashboard</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              {{!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Settings 1</a>
                                  </li>
                                  <li><a href="#">Settings 2</a>
                                  </li>
                                </ul>
                              </li> --}}
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <table class="table table-bordered">
                              {{{folderDashboardData.foldersweeklyCriticalDatesHTML.tasks}}}
                            </table>
                          </div>
                        </div>
                        {{/if}}


                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Milestones</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              {{!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Settings 1</a>
                                  </li>
                                  <li><a href="#">Settings 2</a>
                                  </li>
                                </ul>
                              </li> --}}
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <table class="table table-bordered " id="Milestones-tables">
                              {{{MilestonesTableContent}}}
                            </table>
                          </div>
                        </div>
                        

                         {{#if folderDashboardData.isupcomingTask}}
                        <!--Upcoming Tasks-->
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Upcoming Tasks <6 days <small>small text</small></h2>
                              <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                {{!-- <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                  </ul>
                                </li> --}}
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                              </ul>
                              <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th style="width: 6%;">Health</th>
                                  {{!-- <th style="width: 17%;">Sheet Name</th> --}}
                                  <th style="width: 57%;">Task</th>
                                  <th >Contact</th>
                                  <th >Start Date</th>
                                  <th >End Date</th>
                                </tr>
                              </thead>
                              <tbody>
                                {{{folderDashboardData.upcomingTaskHTML}}}
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- /Upcoming Tasks -->
                        {{/if}}

                       
                        <!--Completed Tasks-->
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Completed Tasks <small id="completedTasksTotal"></small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              {{!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Settings 1</a>
                                  </li>
                                  <li><a href="#">Settings 2</a>
                                  </li>
                                </ul>
                              </li> --}}
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <table class="table table-bordered" id="completedTaskstable">
                              <!-- Completed Tasks Table Body -->
                              {{{folderDashboardData.completedTasksHTML}}}
                            </table>
                          </div>
                        </div>
                        <!-- /Completed Tasks -->

                        <!--Risk Report-->
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Risk Report <small>small text</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              {{!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Settings 1</a>
                                  </li>
                                  <li><a href="#">Settings 2</a>
                                  </li>
                                </ul>
                              </li> --}}
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <table class="table table-bordered" id="overdueTaskstable">
                              <!-- Risk Report / Overdue Table body -->
                              {{{folderDashboardData.overdueTasksHTML}}}
                            </table>
                          </div>
                        </div>
                        <!-- /Risk Report -->




                       
                        </div>
                        


                        <!--right col-->
                        <div class="col-md-12 col-xs-12  col-lg-2">
                          <div class="row">
                           {{!--  <div class="x_panel widget ">
                              <div class="x_title" style="  ">
                                <ul class="nav navbar-right panel_toolbox" style="margin-right:-7px; */  min-width: 50px;">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>

                                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                                  </li>
                                </ul>
                                <div class="title_tast">Links to Files on Box.com</div>

                                <div class="clearfix"></div>
                              </div>
                              <div class="x_content">




                                <div >
                                  <p style=" border-bottom: 1px solid #ECECEC; padding-bottom: 10px">
                                    <span><span class="glyphicon glyphicon-link"></span></span>
                                    <span style="padding-right: 5px;  font-size: 14px; color:#696565;"><a href="#">Convene NDA</a></span>

                                  </p>
                                  <p style=" border-bottom: 1px solid #ECECEC; padding-bottom: 10px">
                                    <span><span class="glyphicon glyphicon-link"></span></span>
                                    <span style="padding-right: 5px;  font-size: 14px; color:#696565;"><a href="#" class="">Meeting Minutes Template</a></span>
                                  </p>
                                  <p style=" border-bottom: 1px solid #ECECEC; padding-bottom: 10px">
                                    <span><span class="glyphicon glyphicon-link"></span></span>
                                    <span style="padding-right: 5px;  font-size: 14px; color:#696565;"><a href="#">Link text 3</a></span>
                                  </p>
                                  <p style=" border-bottom: 1px solid #ECECEC; padding-bottom: 10px">
                                    <span><span class="glyphicon glyphicon-link"></span></span>
                                    <span style="padding-right: 5px;  font-size: 14px; color:#696565;"><a href="#">Link text 4</a></span>
                                  </p>
                                </div>
                              </div>
                            </div> --}}

                            <div class="x_panel  widget">
                              <div class="x_title" style="  ">
                                <ul class="nav navbar-right panel_toolbox" style="margin-right:-7px; */  min-width: 50px;">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>

                                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                                  </li>
                                </ul>
                                <div class="title_tast">Shortcuts</div>

                                <div class="clearfix"></div>
                              </div>
                              <div class="x_content">




                                <div >
                                  {{{folderDashboardData.folderDashboardRightShortcutHTML}}}
                                </div>
                              </div>
                            </div>




                            


                            {{!-- <div class="x_panel widget ">
                              <div class="x_title" style="  ">
                                <ul class="nav navbar-right panel_toolbox" style="margin-right:-7px;  min-width: 50px;">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>

                                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                                  </li>
                                </ul>
                                <div class="title_tast">Legend</div>

                                <div class="clearfix"></div>
                              </div>
                              <div class="x_content">




                                <div>
                                  <p style=" padding-bottom:5px">
                                    <span style="font-weight: bold;  font-size: 14px; color: red;">Red Text</span>
                                    <span style="padding-left: 5px;  font-size: 14px; color:#696565;">- Task is past end date and needs to be addressed as completed or at risk</span>

                                  </p>

                                </div>
                              </div>
                            </div> --}}

                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>


                      <div class="clearfix"></div>



                      {{!-- <div class="gantt-container col-md-8" style="overflow: scroll; margin-top: -36px;width:1200px;height:400px">
                        <H3>Gantt Chart</H3>
                        <svg id="gantt" ></svg>
                      </div> --}}


                      <div id="placeholder"></div>





                      <div class="clearfix"></div>




                    </div>
                  </div>
                </div>
              </div>
            
            

            </div>
          </div>

          <!-- footer content -->
          <footer>
            <div class="pull-right">
              &copy; elyvt.com
            </div>
            <div class="clearfix"></div>
          </footer>
          <!-- /footer content -->
        </div>
        <!-- /main cont -->
      </div>
      <!-- /page content -->
    </div>
    <!-- /Main Container -->
  </div>
  <!-- /Container --> 


  <!-- jQuery -->
  http://elyvt.com
  <!-- Bootstrap -->
  <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- bootstrap-daterangepicker -->
  <script src="/vendors/moment/min/moment.min.js"></script>
  <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/build/js/custom.min.js"></script>

  <script src="/vendors/plotly/js/plotly-latest.min.js"></script>
  <script src="/vendors/plotly/js/numeric.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

  <script type="text/javascript" src="js/snap.svg-min.js"></script>
  <script src="/js/frappe-gantt.min.js" ></script>

  <script>
  // initalise variables
  

/*
  var tasksGanttChartContents = []

  var tasksgantdata = {{{tasksGanttChartContents}}}

  for (var element in tasksgantdata){
    var task = {
       id: tasksgantdata[element]['id'],
      name: tasksgantdata[element]['name'],
      start: tasksgantdata[element]['start'],
      end: tasksgantdata[element]['end'],
      progress: 100
    } 
    if(tasksgantdata[element]['dependencies']){
      task.dependencies = tasksgantdata[element]['dependencies']
    }
    tasksGanttChartContents.push(task);
  }


  
   * Function getContactByID
   *
   * Find and Return Contact from contactList by ID
   *
   * @param (type): $contactID(integer)
   * @return Contact Details: (Json Obj)
   
   function getContactByID($contactID){
    for(var contactsElement in contactsData['data']){
      if($contactID==contactsData['data'][contactsElement]['id']){
        return contactsData['data'][contactsElement];
      }
    }
    return false;
  }



var gantt = new Gantt("#gantt", tasksGanttChartContents);
gantt.change_view_mode('Week')

*/

  $(window).load(function(){
    $('#Milestones-tables').DataTable();
    $('#completedTaskstable').DataTable();
    $("#overdueTaskstable").DataTable();
  });

  </script>

</body>
</html>
